@import 'fonts.css';

body {
   font-family: 'Open Sans';
}

ul,
li {
   display: block;
   padding: 0;
   margin: 0;
}

.button {
   text-transform: uppercase;
   cursor: pointer;
   padding: 10px 25px;
   margin: 0 10px;
   color: white;
   transition: 0.3s;
   background: #00897b;
   border: 2px solid #00897b;
}

.button:hover {
   background: transparent;
   border: 2px solid white;
}


/*Наши услуги*/
.services {
   padding-top: 165px;
   padding-bottom: 125px;
   color: black;
   background: #e4fdf9;
   text-align: center;
}

.our_card {
   background: white;
   padding: 50px 40px 40px;
   transition: 0.3s;
   margin-bottom: 30px;
}

.our_card:hover {
   background: #00897b;
   color: white;
   box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.our_card:hover .icon {
   color: white;
}

.our_card:hover .button-services {
   border: 2px solid white;
   color: white;
}

.icon {
   transition: 0.3s;
   font-size: 60px;
   color: black;
}

.button-services {
   margin-top: 20px;
   transition: 0.3s;
   color: black;
   text-transform: uppercase;
   border: 2px solid black;
   background: transparent;
   padding: 10px 12px 10px;
   font-family: 'Open Sans Semibold';
}

.button-services:hover {
   cursor: pointer;
}

/*Портфолио*/
.portfolio {
   text-align: center;
   padding-top: 120px;
   padding-bottom: 135px;
}

.portfolio button:hover,
.focused {
   color: black;
   background: transparent;
   border: 2px solid #00897b;
}

.portfolio img {
   max-width: 100%;
   margin-bottom: 30px;
}

.filter {
   padding: 120px 0;
}

div[filter]:hover img {
   filter: brightness(50%);
   transition: 0.3s;
}

.text {
   display: none;
}

div[filter]:hover .text {
   display: block;
   width: 100%;
   color: #fff;
   position: absolute;
   top: 40%;
   left: 0;
   z-index: 3;
   text-align: center;
}


/*Блог*/
.blog-item {
   width: 48%;
}

.left>div:first-child {
   order: 1;
}

.left>div:last-child {
   order: 2;
}

.right>div:first-child {
   order: 2;
}

.right>div:last-child {
   order: 1;
}

.blog {
   text-align: left;
   margin-top: 60px;
}

.blog a {
   font-size: 25px;
   color: #00897b;
   font-family: 'Open Sans Semibold';
}

.blog div {
   margin-top: 15px;
   margin-bottom: 20px;
}

.blog span {
   font-size: 17px;
   font-family: 'Open Sans Semibold';
   margin-right: 35px;
}

.blog i {
   margin-right: 15px;
}

.blog p {
   font-size: 15px;
}

.button_blog {
   width: 220px;
   height: 70px;
   text-transform: uppercase;
   color: white;
   font-size: 20px;
   margin-top: 125px;
   transition: 0.3s;
   border: 2px solid #00897b;
   cursor: pointer;
   background: #00897b;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
}

.button_blog:hover {
   background: transparent;
   color: #000;
}

/*Футер*/
.footer {
   padding-top: 165px;
   padding-bottom: 125px;
   color: #fff;
   background-image: url(../img/footer.png);
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

.footer .about__text {
   color: #fff;
}

.fa-map-marker-alt,
.fa-phone,
.fa-envelope {
   font-size: 62px;
   color: #fff;
}

.circle {
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #3949ab;
   width: 100px;
   height: 100px;
   margin: 0 auto 35px;
}

.circle+p {
   font-size: 20px;
}

.footer input,
.footer textarea {
   padding: 30px;
   width: 100%;
   border-radius: 10px;
   border: none;
}

.footer input:focus,
.footer textarea:focus {
   outline: none;
}

.footer textarea {
   margin-top: 30px;
   margin-bottom: 30px;
   resize: none;
}

.footer button {
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   color: #212121;
   padding: 20px 80px;
   border-radius: 10px;
   border: none;
   transition: 0.3s
}

.footer button:hover {
   opacity: 0.6;
}

.rules {
   padding: 20px 0;
   text-align: center;
   font-weight: 600;
}

.form {
   margin-top: 70px;
}


/*Кнопка наверх*/
#toTop {
   z-index: 999;
   width: 40px;
   height: 40px;
   border: none;
   font-size: 20px;
   border-radius: 3px;
   background: #00897b;
   text-align: center;
   padding: 5px;
   position: fixed;
   bottom: 10px;
   right: 10px;
   cursor: pointer;
   display: none;
   color: #000000;
}
.menu-icon {
   display: none;
}

/*Для планшетов*/
@media screen and (max-width: 1024px) {
   nav {
      display: none;
   }
   .logo-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .menu-icon {
      display: block;
      background: #00897b;
      border: none;
      font-size: 25px;
      width: 50px;
      height: 50px;
      cursor: pointer;
   }
   .blog {
      margin-top: 10px;
   }
   .footer input, .footer textarea {
      margin-top: 20px;
      margin-bottom: 20px;
   }
}
